{% set currentUrl = page.url %}

<nav aria-labelledby="siteid" class='nav'>
  <div class='nav__container'>
    <a id="siteid" href="/" {% if currentUrl === '/' %} aria-current="page" {% endif %} class="nav__container__link">{{ meta.siteName }}</a>
    <ul role="list" class='nav__container__links'>
      {% for link in collections.pages %}
        <li>
          <a {% if currentUrl === link.url %} aria-current="page" {% endif %} href="{{ link.url }}" class="nav__container__links__link">
            {{ link.data.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>