@use "theme" as *;

.library {
  display: grid;
  gap: 2rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    list-style: none;
    justify-items: center;
    &__item {
      display: grid;
      gap: 0.5rem;
      justify-items: center;
    }
  }
}
