---
layout: base.njk
---

<header >
{% include 'sitenav.njk' %}
</header>
<main class='main'>
  <ul>
    {%- for blog in collections.blogs -%}
      <li>
        <a href={{ blog.url }}>{{ blog.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</main>