---
layout: base.njk
---

<header >
{% include 'sitenav.njk' %}
</header>
<main class='main'>
  <article >
    <p>
      Last Modified: <time datetime="{{dates['last-modified']}}">{{ dates['last-modified'] | formatDate }}
      </time>
    </p>
    {{ content | safe }}
    {% include 'webmentions.njk' %}
  </article>
</main>