---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
  </div>
</header>
<main class="tdbc-container library">
  <h2>Read Books</h2>
  <ul role="list" class='library__list'>
    {%- for book in collections.readBooks -%}
      <li class='library__list__item'>
        <img src="{{ book.data.isbn | getImageUrlFromIsbn }}" alt="{{book.data.title}}"/>
        <a href={{ book.url }}>{{ book.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <hr/>
  <h2>Queued Books</h2>
  <ul>
    {%- for book in collections.wantToReadBooks -%}
      <li>
        <a href="{{ book.url }}">{{ book.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</main>