---
layout: base.njk
---

<header >
{% include 'sitenav.njk' %}
</header>
<main class='main'>
  <h2>Read Books</h2>
  <ul role="list" >
    {%- for book in collections.readBooks -%}
      <li >
        <img src="{{ book.data.isbn | getImageUrlFromIsbn }}" alt="{{book.data.title}}"/>
        <a href={{ book.url }}>{{ book.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <hr/>
  <h2>Queued Books</h2>
  <ul>
    {%- for book in collections.wantToReadBooks -%}
      <li>
        <a href="{{ book.url }}">{{ book.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</main>