---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
  </div>
</header>
<main class="tdbc-container">
  <ul>
    {%- for newsletter in collections.newsletters -%}
      <li>
        <a href={{ newsletter.url }}>{{ newsletter.data.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
</main>