--- 
layout: base.njk 
---

<header class="">
  {% include 'sitenav.njk' %}
</header>

<main class="main">
    <h1 class="main__title">{{ meta.siteName }}</h1>
    <h2 class='main__description'>
      {{ meta.siteDescription }}
    </h2>
 <section>
  tags list 
  {% for tag in collections.tagList %}
    <a href="tags/{{ tag }}">#{{ tag }}</a>
  {% endfor %}
</section>
   <section class='main__section'>
      <h3 class='main__section__title'>Recent Posts</h3>
      
      <ul >
        {% for post in collections.recentPosts %}
          <li >
            <a href="{{ post.url }}" >{{ post.data.title }}</a>
          </li>
        {% endfor %}
    </section>
</main>